In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler

# Data Collection (Remove unnecassary coloumns)

In [13]:
import os
import pandas as pd

f_path = "D:\\DataScience\\Dataset"

df_list = []

for file_name in os.listdir(f_path):
    # Check if the file is a CSV file
    if file_name.endswith('.csv'):
        # Create the full file path
        file_path = os.path.join(f_path, file_name)
        # Read the CSV file into a DataFrame
        Dataframe = pd.read_csv(file_path)
        # Append the DataFrame to the list
        df_list.append(Dataframe)

cdf = pd.concat(df_list, ignore_index=True)
cdf = cdf.iloc[:, :-3]

cdf.head()

    Nickname  Defender Score  Attacker Score  Time (sec)    Winner   Level
0  u20444550             8.0             5.0       138.0  Defender  Expert
1  u20444550             8.0             5.0       137.0  Defender  Expert
2  u20444550            10.0             3.0       118.0  Defender  Expert
3  u20444550             8.0             5.0       112.0  Defender  Expert
4  u20444550             9.0             4.0       107.0  Defender  Expert

# Data Cleaning Process

# Remove NaN values

In [14]:
cdf = cdf.dropna()

# Resulting number of clean data values

In [15]:
cdf.count()

Nickname          1451
Defender Score    1451
Attacker Score    1451
Time (sec)        1451
Winner            1451
Level             1451
dtype: int64

# Describing the dataframe

In [16]:
cdf.describe()

       Defender Score  Attacker Score   Time (sec)
count     1451.000000     1451.000000  1451.000000
mean         6.897312        6.033081   166.139904
std          2.052366        2.038325   122.530623
min          0.000000        0.000000    37.000000
25%          5.000000        5.000000   109.000000
50%          7.000000        6.000000   140.000000
75%          8.000000        7.000000   185.000000
max         13.000000       13.000000  1738.000000